apiVersion: v1
kind: Service
metadata:
  name: fastapi-service
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 8080
  selector:
    app: fastapi-app
  type: ClusterIP
status:
  loadBalancer: {}
